{#
| المتغيرات                   | النوع        | الوصف                                                          |
|----------------------------|-------------|----------------------------------------------------------------|
| product                    | كائن        |                                                                |
| product.id                 | عدد         | معرف المنتج                                                   |
| product.name               | سلسلة      | اسم المنتج                                                   |
| product.description        | سلسلة      | وصف المنتج                                                   |
| product.price              | عدد         | سعر المنتج                                                   |
| product.sale_price         | عدد         | سعر المنتج عند التخفيض                                       |
| product.regular_price      | عدد         | السعر العادي للمنتج                                          |
| product.is_on_sale         | بولياني    | هل المنتج في حالة تخفيض                                       |
| product.sku                | سلسلة      | معرف التخزين للمنتج                                         |
| product.images             | صورة[]      | قائمة بالصور المرتبطة بالمنتج                               |
| product.has_read_more      | بولياني    | هل يوجد المزيد من المعلومات لقراءتها                        |
| product.can_show_remained_quantity | بولياني | هل يمكن عرض الكمية المتبقية                                   |
| product.quantity           | عدد         | الكمية المتاحة من المنتج                                     |
| product.brand              | كائن        | معلومات العلامة التجارية للمنتج                             |
| product.calories           | عدد         | عدد السعرات الحرارية للمنتج                                  |
| product.has_3d_image      | بولياني    | هل يحتوي المنتج على صورة ثلاثية الأبعاد                      |
| product.is_giftable        | بولياني    | هل يمكن تقديم المنتج كهدية                                   |
| product.add_to_cart_label  | سلسلة      | نص الزر لإضافة المنتج إلى السلة                              |
| product.donation           | كائن        | معلومات التبرع إذا كان المنتج مرتبطًا بحملة تبرع          |
#}
{% extends "layouts.master" %}

{% block content %}
    <div class="container bg-white dark:bg-gray-800">
        <nav class="breadcrumbs w-full py-5">
            <salla-breadcrumb></salla-breadcrumb>
        </nav>
        <div class="flex flex-col items-start md:flex-row" id="product-{{ product.id }}">
            <div class="sidebar md:sticky top-24 w-full md:!w-2/4 rtl:ml-8 ltr:mr-8 pb-8 md:pb-16 overflow-hidden shrink-0">
                <salla-slider
                        id="details-slider-{{ product.id }}"
                        class="details-slider rounded-md image-slider"
                        type="thumbs"
                        loop="false"
                        auto-height
                        listen-to-thumbnails-option
                        show-thumbs-controls="false">
                    {% if product.promotion_title %}
                        <div class="promotion-title">{{ product.promotion_title }}</div>
                    {% endif %}

                    <salla-button
                            class="btn--wishlist animated sws"
                            data-id="{{ product.id }}"
                            onclick="salla.wishlist.toggle({{ product.id }})"
                            shape="icon"
                            fill="outline"
                            color="light">
                        <i class="sicon-heart"></i>
                    </salla-button>

                    {% if product.calories %}
                        <div class="absolute z-[2] top-4 rtl:left-4 ltr:right-4 bg-white dark:bg-gray-700 shadow-sm flex flex-col justify-center items-center rounded-full w-20 h-20 md:w-24 md:h-24">
                            <span class="text-red-500 text-xl leading-none font-bold">{{ product.calories }}</span>
                            <span class="text-xs text-gray-500 dark:text-gray-300">{{ trans('pages.products.calories') }}</span>
                        </div>
                    {% endif %}
                </salla-slider>
            </div>

            <div class="main-content md:sticky md:overflow-hidden top-24 w-full md:w-2/4 md:pb-16">
                <h1 class="text-xl md:text-2xl leading-10 font-bold mb-6 text-gray-800 dark:text-gray-200">{{ product.name }}</h1>

                <div class="product__description p-2 px-5 sm:p-1 leading-7 mb-3 text-gray-800 dark:text-gray-200">
                    {% set product_desc = product.description | replace({"&nbsp;": "\n"}) %}
                    {% if product.has_read_more %}
                        <article class="article article--main relative leading-8 overflow-hidden transition-all max-h-0 duration-300 py-4"
                                 id="more-content" style="max-height: 5.25rem">
                            {{ product_desc | raw }}
                        </article>
                        <a id="btn-show-more" class="link--primary inline-block mt-2 cursor-pointer">
                            {{ trans('pages.products.read_more') }}
                        </a>
                    {% else %}
                        <article class="article--main pb-1">
                            {{ product_desc | raw }}
                        </article>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script defer src="{{ 'product.js' | asset }}"></script>
    {% if product.has_3d_image %}
        <script type="module" defer src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    {% endif %}
{% endblock %}

