{#
| المتغيرات                                          | النوع                | الوصف                                                    |
|---------------------------------------------------|---------------------|----------------------------------------------------------|
| page                                              | كائن                |                                                          |
| page.title                                        | سلسلة              |                                                          |
| page.slug                                         | سلسلة              |                                                          |
| cart                                              | عربة                |                                                          |
| cart.id                                           | سلسلة              | معرف فريد للعربة الحالية                                |
| cart.is_require_shipping                          | بولياني            | هل يتطلب أحد عناصر العربة الشحن؟                        |
| cart.has_shipping                                 | بولياني            | هل تم اختيار شركة الشحن؟                                |
| cart.real_shipping_cost                           | عدد                 | تكلفة الشحن التي يمكن أن تصبح مجانية من خلال عرض أو قسيمة |
| cart.real_discount                                | عدد                 | الخصم الحقيقي مع الأخذ في الاعتبار الضريبة (للعرض فقط)  |
| cart.sub_total                                    | عدد                 | مجموع أسعار العناصر بدون الشحن أو التكاليف الأخرى     |
| cart.discount                                     | عدد                 | الخصم النهائي                                           |
| cart.coupon                                       | ?سلسلة             |                                                          |
| cart.total                                        | عدد                 |                                                          |
| cart.free_shipping_bar                            | ?كائن              |                                                          |
| cart.free_shipping_bar.minimum_amount             | عدد                 | الحد الأدنى لمجموع العربة لتطبيق الشحن المجاني، مثال: 1000 |
| cart.free_shipping_bar.has_free_shipping          | بولياني            | صحيح عندما يكون `cart.free_shipping_bar.percent==100`  |
| cart.free_shipping_bar.percent                    | عدد                 | `0 - 100`                                              |
| cart.free_shipping_bar.remaining                  | عدد                 | `830`                                                  |
| cart.items                                        | عناصر العربة[]      |                                                          |
| cart.options                                      | خيارات العربة[]     | مصفوفة من الخيارات                                      |
| cart.items[].id                                   | عدد                 |                                                          |
| cart.items[].is_hidden_quantity                   | بولياني            |                                                          |
| cart.items[].url                                  | سلسلة              | رابط المنتج                                             |
| cart.items[].quantity                             | عدد                 |                                                          |
| cart.items[].type                                 | سلسلة              | نوع المنتج                                             |
| cart.items[].product_price                        | مال قابل للضريبة    |                                                          |
| cart.items[].price                                | مال|مال قابل للضريبة |                                                          |
| cart.items[].total                                | مال                 |                                                          |
| cart.items[].product_id                           | عدد                 |                                                          |
| cart.items[].notes                                | سلسلة              |                                                          |
| cart.items[].can_add_note                         | بولياني            |                                                          |
| cart.items[].can_upload_file                      | بولياني            |                                                          |
| cart.items[].is_available                         | بولياني            |                                                          |
| cart.items[].offer                                | ?كائن              |                                                          |
| cart.items[].offer.discount                       | عدد                 |                                                          |
| cart.items[].offer.is_free                        | بولياني            |                                                          |
| cart.items[].offer.names                          | ?سلسلة             | مثال: `اشترِ 3 واحصل على الرابع مجانًا، اليوم الوطني`   |
| cart.items[].donation                             | ?كائن              |                                                          |
| cart.items[].attachments                          | ?مصفوفة            |                                                          |
| cart.items[].attachments[].id                     | عدد                 | معرف الصورة، لإرفاقها مع بيانات النموذج                 |
| cart.items[].attachments[].url                    | سلسلة              | رابط الصورة                                            |
| cart.items[].attachments[].product_id             | عدد                 |                                                          |
| cart.items[].attachments[].item_id                | عدد                 |                                                          |
| cart.items[].attachments[].name                   | عدد                 | اسم ملف الصورة                                         |
#}

{% extends "layouts.master" %}
{% block content %}
    <div class="container bg-white dark:bg-gray-800">
        <nav class="breadcrumbs w-full py-5">
            <salla-breadcrumb></salla-breadcrumb>
        </nav>
        <h1 class="sr-only">{{ trans('blocks.header.cart') }}</h1>
        <salla-conditional-offer></salla-conditional-offer>
        <div class="pt-5 flex flex-col items-start lg:flex-row pb-6 lg:pb-20">
            <div class="main-content flex-1 w-full">
                {% hook 'cart:items.start' %}

                {% for item in cart.items %}
                    <form onchange="salla.form.onChange('cart.updateItem', event)" id="item-{{ item.id }}" class="bg-white dark:bg-gray-700">
                        <section class="cart-item p-5 xs:p-7 rounded-md mb-5 relative">
                            <input type="hidden" name="id" value="{{ item.id }}">
                            <div class="md:flex rtl:space-x-reverse md:space-x-12 items-start justify-between mb-8 last:mb-0">
                                <div class="flex flex-1 rtl:space-x-reverse space-x-4">
                                    <a href="{{ item.url }}" class="shrink-0">
                                        <img src="{{ item.product_image }}"
                                             alt="{{ item.product_name }}"
                                             class="flex-none w-24 h-20 border border-gray-200 bg-gray-100 rounded-md object-center object-cover">
                                    </a>
                                    <div class="space-y-1">
                                        <h1 class="text-gray-900 dark:text-gray-200 leading-6 text-lg">
                                            <a href="{{ item.url }}" class="text-base">{{ item.product_name }}</a>
                                        </h1>
                                        <span class="text-sm text-gray-500 dark:text-gray-400 line-through item-regular-price {{ item.offer?'':'hidden' }}">{{ item.product_price|money }}</span>
                                        <span class="item-price {{ item.offer?'text-red-800':'text-sm text-gray-500 dark:text-gray-400' }}">{{ item.price|money }}</span>
                                    </div>
                                </div>
                                <div class="flex-1 border-t border-gray-200 dark:border-gray-600 py-3 md:p-0 md:border-none mt-5 md:mt-0 flex justify-between items-center md:items-start">
                                    <salla-quantity-input cart-item-id="{{ item.id }}"  max="{{ item.max_quantity }}"
                                        class="transtion transition-color duration-300"
                                        aria-label="Quantity"
                                        value="{{ item.quantity }}" name="quantity">
                                    </salla-quantity-input>
                                    <p class="text-primary flex-none font-bold text-sm rtl:md:pl-12 ltr:md:pr-12">
                                        <span>{{ trans('pages.cart.total') }}:</span>
                                        <span class="inline-block item-total">{{ item.is_available?item.total|money: trans('pages.cart.out_of_stock') }}</span>
                                    </p>
                                </div>
                            </div>
                            {% include 'pages.partials.product.options' with {product:item} %}
                        </section>
                    </form>
                {% else %}
                    <div class="no-content-placeholder">
                        <i class="sicon-shopping-bag icon"></i>
                        <p>{{ trans('pages.cart.empty_cart') }}</p>
                        <a href="{{ link('/') }}"
                           class="btn btn--outline-primary btn--rounded-full">{{ trans('common.elements.back_home') }}</a>
                    </div>
                {% endfor %}
                {% hook 'cart:items.end' %}
            </div>

            {% hook 'cart:summary.start' %}
            <div class="sticky top-24 w-full lg:w-96 rtl:lg:mr-8 ltr:lg:ml-8">
                <div class="shadow-default bg-white dark:bg-gray-700 p-5 xs:p-7 rounded-md mb-5 relative">
                    <h2 class="font-bold text-sm mb-5 text-gray-900 dark:text-gray-200">{{ trans('pages.cart.summary') }}</h2>
                    <div class="flex justify-between text-sm mb-5">
                        <span class="text-gray-500 dark:text-gray-400">{{ trans("pages.cart.items_total") }}</span>
                        <b id="sub-total">{{ cart.sub_total|money }}</b>
                    </div>
                    <div class="cart-submit-wrap">
                        <salla-button id="cart-submit" loader-position="center" width="wide">
                            {{ trans('pages.cart.complete_order') }}
                        </salla-button>
                    </div>
                    {% hook 'cart:summary.end' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script defer src="{{ 'checkout.js' | asset }}"></script>
{% endblock %}
