{#
| المتغيرات                    | النوع                   | الوصف                                                         |
|-------------------------------|------------------------|---------------------------------------------------------------|
| landing                       | كائن                   |                                                               |
| landing.id                    | عدد                    |                                                               |
| landing.title                 | سلسلة                 |                                                               |
| landing.content               | سلسلة                 |                                                               |
| landing.products              | منتجات[] *مجموعة      |                                                               |
| landing.offer_ends_at         | ?تاريخ                 |                                                               |
| landing.testimonials_type     | سلسلة                 |                                                               |
| landing.show_quantity         | بولياني               |                                                               |
| landing.is_slider             | بولياني               |                                                               |
| landing.is_expired            | بولياني               |                                                               |
| landing.show_store_features   | بولياني               |                                                               |
#}
{% extends "layouts.master" %}
{% block content %}
<script>
	window.showQuantity = {{ landing.show_quantity ? 'true' : 'false' }};
</script>
    {# ======================== صفحة الهبوط ======================== #}
    {% if not landing %}
        <div class="landing-page notfound bg-white dark:bg-gray-800">
            <header>
                <div class="header-content container">
                <a href="{{ store.url }}" class="header-content-logo" aria-label="{{ store.name }} logo">
					<img src="{{ store.logo }}" width="75" height="75" alt="logo" class="logo"></a>
                    <div class="header-content-inner">
                        <h1 class="text-gray-900 dark:text-gray-200">{{ trans('common.errors.404') }}</h1>
                        <div class="text-center mt-6">
                            <salla-button href="{{ link('/') }}" color="primary" class="btn--rounded-full">
                                {{ trans('common.elements.back_home') }}
                            </salla-button>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    {% elseif landing.is_expired %}
        <div class="landing-page expired bg-white dark:bg-gray-800">
            <header>
                <div class="header-content container">
                <a href="{{ store.url }}" aria-label="{{ store.name }} logo" class="header-content-logo">
					<img src="{{ store.logo }}" width="75" height="75" alt="logo" class="logo"></a>
                    <div class="header-content-inner">
                        <h1 class="text-gray-900 dark:text-gray-200">{{ trans('pages.offer.offer_finished') }}</h1>
                        <p class="text-gray-500 dark:text-gray-400">{{ trans('pages.offer.offer_expired_message') }}</p>
                        <div class="text-center mt-6">
                            <salla-button href="{{ link('/') }}" color="primary" class="btn--rounded-full">
                                {{ trans('common.elements.back_home') }}
                            </salla-button>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    {% else %}
        <div class="landing-page pb-10 bg-white dark:bg-gray-800">
            <header>
                <div class="header-content container">
                <a href="{{ store.url }}" aria-label="{{ store.name }} logo" class="header-content-logo">
					<img src="{{ store.logo }}" width="75" height="75" alt="logo" class="logo"></a>
                    <div class="header-content-inner">
                        <h1 class="text-gray-900 dark:text-gray-200">{{ landing.title }}</h1>
                        <p class="text-gray-500 dark:text-gray-400">{{ landing.content|raw }}</p>
                    </div>
                    {% if landing.offer_ends_at %}
                        <div class="header-content-offer">
                            <h3 class="text-gray-900 dark:text-gray-200">{{ trans('pages.offer.offer_remaining_time') }}</h3>
                            <salla-count-down date="{{ landing.offer_ends_at }}" labeled size="lg"></salla-count-down>
                        </div>
                    {% endif %}
                </div>
            </header>

            <section class="container overflow-hidden {{ landing.products|length <= 3 and not landing.is_slider ? 'center-products' : '' }}">
                {% set is_vertical = theme.settings.get('vertical_fixed_products', true) %}
                {% if landing.is_slider %}
                    <salla-products-slider source="landing-page" block-title="{{ trans('pages.offer.included_products') }}" display-all-url></salla-products-slider>
                {% else %}
                    <section class="s-block">
                        <div class="s-block__title">
                            <div class="right-side">
                            <h2>{{ trans('pages.offer.included_products') }}</h2>
                            </div>
                        </div>
                        <salla-products-list source="landing-page" class="{{ is_vertical ? 'vertical-products' : 'horizontal-products' }}"></salla-products-list>
                    </section>
                {% endif %}

                <div class="landing-page--quick-buy">
                    <salla-mini-checkout-widget
                            products="[{{ landing.products|map((product) => product.id)|join(',') }}]"
                            language="{{ user.language_code }}"
                            label="{{ trans('pages.orders.finish_payment') }}"
                            store-id="{{ store.id }}"
                            api="{{ store.api }}"
                            class="mt-3"
                    ></salla-mini-checkout-widget>
                </div>
            </section>

            {% if landing.show_store_features %}
                <section class="container overflow-hidden">
                    {% component 'home.store-features' %}
                </section>
            {% endif %}

            {% if landing.testimonials_type %}
                <section class="overflow-hidden bg-gray-50 mt-10">
                    <div class="container">
                        {% component 'home.testimonials' with { type: landing.testimonials_type } %}
                    </div>
                </section>
            {% endif %}
        </div>
    {% endif %}
    <div class="hidden bottom-1"></div>
{% endblock %}