{#
| المتغيرات                             | النوع          | الوصف                                  |
|--------------------------------------|---------------|----------------------------------------|
| page                                 | صفحة          |                                        |
| page.title                           | سلسلة        |                                        |
| page.slug                            | سلسلة        |                                        |
| loyalty                              | ولاء          |                                        |
| loyalty.name                         | سلسلة        |                                        |
| loyalty.description                  | سلسلة        |                                        |
| loyalty.image                        | سلسلة        |                                        |
| loyalty.promotion_title              | سلسلة        |                                        |
| loyalty.promotion_description        | سلسلة        |                                        |
| loyalty.points                       | نقاط[]       |                                        |
| loyalty.points[].name                | سلسلة        |                                        |
| loyalty.points[].description         | سلسلة        |                                        |
| loyalty.points[].type                | سلسلة        | share, rating, order, profile          |
| loyalty.points[].url                 | ?سلسلة       |                                        |
| loyalty.points[].points              | عدد           |                                        |
| loyalty.points[].icon                | سلسلة        |                                        |
| loyalty.points[].color               | سلسلة        |                                        |
| loyalty.prizes[]                     | مجموعة الجوائز[] |                                        |
| loyalty.prizes[].title               | سلسلة        |                                        |
| loyalty.prizes[].type                | سلسلة        | free_product, coupon_discount, free_shipping |
| loyalty.prizes[].items[]             | جوائز[]       |                                        |
| loyalty.prizes[].items[].id          | عدد           |                                        |
| loyalty.prizes[].items[].name        | سلسلة        |                                        |
| loyalty.prizes[].items[].description | سلسلة        |                                        |
| loyalty.prizes[].items[].image       | سلسلة        |                                        |
| loyalty.prizes[].items[].url         | ?سلسلة       |                                        |
| loyalty.prizes[].items[].cost_points | عدد           |                                        |
| user.loyalty_points                  | ?عدد          |                                        |
| user.is_profile_completed            | بولياني       |                                        |
#}
{% extends "layouts.master" %}

{% block content %}
    <div class="h-62 -mb-52 w-full bg-primary rtl:right-0 ltr:left-0 relative -z-1 bg-cover bg-no-repeat bg-center dark:bg-gray-800"
         style="background-image:url({{ loyalty.image }})">
        <div class="overlay h-full w-full bg-black opacity-50 absolute top-0 left-0"></div>
    </div>
    <div class="container space-y-8 lg:space-y-16 bg-white dark:bg-gray-800">
        {# فتات الخبز #}
        <nav class="breadcrumbs w-full py-5"><salla-breadcrumb></salla-breadcrumb></nav>

        {# لافتة الولاء #}
        <div class="loyalty__banner">
            <div class="loyalty__banner-inner">
                <i class="sicon-star2 star-anime text-amber-400 text-7xl"></i>
                <div class="loyalty__banner-content">
                    <div class="info">
                        <h1 class="text-gray-900 dark:text-gray-200">{{ loyalty.name }}</h1>
                        <p class="text-gray-500 dark:text-gray-400">{{ loyalty.description }}</p>
                        {% if user.loyalty_points %}
                            <div class="loyalty-points">
                                {{ trans('pages.loyalty_program.you_have') }}
                                <span class="count-number count-anime" data-count="{{ user.loyalty_points }}">0</span>
                                {{ trans("pages.loyalty_program.point") }}
                            </div>
                        {% endif %}
                    </div>

                    <salla-loyalty customer-points="{{ user.loyalty_points }}">
                        <salla-button onclick="document.querySelector('salla-loyalty').open();" slot="widget">
                            {{ trans("pages.loyalty_program.exchange_points") }}
                        </salla-button>
                    </salla-loyalty>
                </div>
            </div>
            <!-- نجوم كبيرة في الخلفية -->
            <div class="loyalty-star loyalty-star--first"><i class="sicon-star2"></i></div>
            <div class="loyalty-star loyalty-star--second"><i class="sicon-star2"></i></div>
        </div>

        {# طرق كسب النقاط #}
        <section class="points-ways pt-6">
            <div class="s-block__title">
              <h2 class="text-gray-900 dark:text-gray-200">{{ trans("pages.loyalty_program.ways_to_get_points") }}</h2>
            </div>
            <div class="points-ways__list">
                {% for point in loyalty.points %}
                    <div class="way-item">
                        <div class="flex rtl:space-x-reverse space-x-4">
                            <span class="way-item__icon {{ point.icon ?:'sicon-star' }}"
                                  style="color: {{ point.color }}">
                              <span style="background-color: {{ point.color }}"></span>
                            </span>
                            <div class="way-item__content">
                                <h3 style="color: {{ point.color }}">
                                    {{ point.points }}
                                    {{ trans("pages.loyalty_program.point") }}
                                </h3>
                                <p class="text-gray-500 dark:text-gray-400">{{ point.description }}</p>
                            </div>
                        </div>
                        ...
                    </div>
                {% endfor %}
            </div>
        </section>
        ...
    </div>
{% endblock %}

{% block scripts %}
    <script defer src="{{ 'pages.js' | asset }}"></script>
{% endblock %}