{#
| المتغيرات                     | النوع     | الوصف                                                                      |
|-------------------------------|----------|---------------------------------------------------------------------------|
| items                         | مصفوفة   | متغير مشترك في جميع التخطيطات، index.twig، وجميع مكونات العرض          |
| items[].title                 | سلسلة    | عنوان القسم                                                              |
| items[].name                  | سلسلة    | اسم بديل للعنوان                                                         |
| items[].type                  | سلسلة    | نوع المنتج (فئة، الأكثر مبيعًا، أحدث المنتجات، المنتجات المختارة)       |
| items[].featured_product       | منتج     | معلومات المنتج المميز                                                    |
| items[].special_product.id     | سلسلة    | معرف المنتج الخاص                                                       |
| items[].special_product.title  | سلسلة    | اسم المنتج                                                              |
| items[].products[]            | منتج[]   | قائمة بالمنتجات                                                          |
| items[].limit                 | عدد صحيح | عدد المنتجات التي سيتم عرضها                                             |
| items[].id                    | سلسلة    | معرف القسم                                                               |
| position                      | عدد صحيح | رقم ترتيب يبدأ من الصفر                                                 |
| is_slider                     | بولياني  | تحديد ما إذا كانت المنتجات قابلة للتحريك أو ثابتة                        |
#}
{% set component_id='featured-products-style2-' ~ position %}
{% set is_vertical = theme.settings.get('vertical_fixed_products', true) %}
<section class="s-block s-block-tabs s-block--tabs-products s-block--full-bg {{ is_slider ? 'as-slider' : 'as-grid' }} bg-gray-100 py-8 sm:py-16" id="{{ component_id }}">
  <div class="container">

      <div class="tabs hide-scroll">
          {% for section in items %}
              <salla-button 
                class="tab-trigger {{ loop.first ? 'is-active' : '' }}"
                data-target="{{ component_id }}-{{ section.id }}"
                data-component-id="{{ component_id }}"
                fill="outline">
                  {{ section.title }} <!-- عنوان القسم -->
              </salla-button>
          {% endfor %}
      </div>

      <div class="tabs-wrapper">
        {% for section in items %}
            <div id="{{ component_id }}-{{ section.id }}" class="tabs__item {{ loop.first ? 'is-active' : '' }}">
                {% if is_slider %}
                    <salla-products-slider 
                      slider-id="section-{{ section.id }}-slider" 
                      source="selected" 
                      source-value="[{{ section.products|map((product) => product.id)|join(',') }}]">
                    </salla-products-slider>
                {% else %}
                    <salla-products-list  
                      source="selected" 
                      source-value="[{{ section.products|map((product) => product.id)|join(',') }}]"
                      {{ is_vertical ? '' : 'horizontal-cards' }}>
                    </salla-products-list>
                {% endif %}
            </div>
        {% endfor %}
      </div>
  </div>
</section> 
