{#
| المتغيرات                     | النوع     | الوصف                                                                      |
|-------------------------------|----------|---------------------------------------------------------------------------|
| display_all_url               | ?سلسلة   | إذا كانت موجودة، تعني أنه يجب عرض رابط "تحميل المزيد" إلى هذا الرابط   |
| title                         | سلسلة    | عنوان القسم                                                              |
| products                      | منتج[]   | قائمة بالمنتجات                                                          |
| position                      | عدد صحيح | رقم ترتيب يبدأ من الصفر                                                 |
| limit                         | عدد صحيح | عدد المنتجات التي سيتم عرضها                                             |
#}
{% set is_vertical = theme.settings.get('vertical_fixed_products', true) %}
<section class="s-block container bg-white dark:bg-gray-800">
    {% if title %}
      <div class="s-block__title">
        <div class="right-side">
          <h2 class="text-gray-800 dark:text-white">{{ title }}</h2> <!-- عنوان القسم -->
          {# <p class="text-gray-600 dark:text-gray-400">عنوان فرعي توصيفي صغير</p> #} <!-- تعليق على العنوان الفرعي -->
        </div>
        {% if display_all_url %}
            <a href="{{ display_all_url }}" class="s-block__display-all text-primary dark:text-blue-400">{{ trans('blocks.home.display_all') }} <i class="sicon-arrow-left"></i></a> <!-- رابط "عرض الكل" -->
        {% endif %}
      </div>
    {% endif %}

    <salla-products-list
      source="selected"
      limit="{{ limit }}"
      source-value="[{{ products|map((product) => product.id)|join(',') }}]"
      class="{{ is_vertical ? 'vertical-products' : 'horizontal-products' }} {{ is_vertical ? '' : 'horizontal-cards' }}"
      dark:class="dark:text-gray-200">
    </salla-products-list>
</section>


