{# 
| المتغيرات المتاحة:
| component.news_items - مصفوفة الأخبار
| component.speed - سرعة الحركة (ثواني)
| component.auto_play - تشغيل تلقائي (true/false)
#}

<section class="s-block news-ticker-section">
    <div class="news-ticker" 
         data-speed="{{ component.speed|default(3) }}"
         data-autoplay="{{ component.auto_play|default(true) }}">
        <div class="swiper">
            <div class="swiper-wrapper">
                {% for item in component.news_items %}
                    <div class="swiper-slide news-item">
                        {% if item.link %}
                            <a href="{{ item.link }}" class="news-link">
                                <span class="news-text">{{ item.text }}</span>
                            </a>
                        {% else %}
                            <span class="news-text">{{ item.text }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="news-controls">
            <button type="button" class="news-nav news-prev">
                <i class="sicon-chevron-right"></i>
            </button>
            <button type="button" class="news-nav news-next">
                <i class="sicon-chevron-left"></i>
            </button>
        </div>
    </div>
</section> 