{#
| المتغيرات                     | النوع     | الوصف                                                                      |
|-------------------------------|----------|---------------------------------------------------------------------------|
| items                         | مصفوفة   | قائمة الشرائح                                                            |
| items[].url                   | سلسلة    | رابط الوجهة                                                              |
| items[].link_type             | ?سلسلة   | نوع الرابط (فئة، منتج، عروض، صفحة، رابط خارجي، علامة تجارية)          |
| items[].image.url             | سلسلة    | رابط الصورة                                                              |
| items[].image.alt             | سلسلة    | نص بديل للصورة                                                          |
| position                      | عدد صحيح | رقم ترتيب يبدأ من الصفر                                                 |
#}
<section class="s-block s-block--photos-slider {{ is_repeated ? 'repeated-block' : '' }}">
    <salla-slider 
      type="carousel" 
      class="home-slider photos-slider"
      centered 
      auto-play 
      pagination
      id="photos-{{ position }}-slider"> 
      <div slot="items">
        {% for index, item in items %}
          <div class="swiper-slide">
            <a href="{{ item.url }}">
              <img loading="eager" src="{{ item.image.url }}" class="w-full object-contain rounded-md" height="300" width="1200" alt="{{ item.image.alt | default('image-slider-' ~ index) }}"> <!-- نص بديل للصورة -->
            </a>
          </div>
        {% endfor %}
      </div>
    </salla-slider>
</section> 
