{#
| المتغيرات                     | النوع     | الوصف                                                                      |
|-------------------------------|----------|---------------------------------------------------------------------------|
| component                     | كائن     | يحتوي على إعدادات التاجر للحقول من قسم `component` في twilight.json     |
| component.background          | سلسلة    | رابط صورة الخلفية                                                        |
| component.title               | ?سلسلة   | عنوان القسم                                                              |
| component.description         | ?سلسلة   | وصف القسم                                                                |
| component.products            | منتج[] *مجموعة | قائمة بالمنتجات                                                      |
| position                      | عدد صحيح | رقم ترتيب يبدأ من الصفر                                                 |
#}
<section class="s-block s-block--slider-with-bg s-block--full-bg bg-white dark:bg-gray-800">
    <div class="slider-bg" style="background-image: url('{{ component.background }}');">
        <div class="container pt-8 sm:pt-20 relative">
            <div>
                <h3 class="text-lg font-bold leading-12 text-gray-800 dark:text-gray-200">
                    {{ component.title }}
                </h3>
                <p class="text-sm mb-8 line-clamp-2 max-w-lg text-gray-600 dark:text-gray-400">
                    {{ component.description }}
                </p>
            </div>
        </div>
    </div>

    {% set display_all = component.display_all_url  %}
    <div class="container -mt-62 relative overflow-hidden">
        <salla-products-slider
            {% if component.products|length %}
              source="selected" 
              source-value="[{{ component.products|map((product) => product.id)|join(',') }}]" 
            {% endif %}
            {% if display_all != '' and display_all != '#' %}
                display-all-url="{{ display_all }}" 
            {% endif %}
            block-title=" " 
            slider-id="slider-with-bg-{{ position }}"
            class="dark:text-gray-200"
        ></salla-products-slider>
    </div>
</section>
 
