{#
| المتغيرات         | النوع    | الوصف                           |
|------------------|---------|---------------------------------|
| cart             | كائن    | يمثل عربة التسوق                |
| cart.items_count | int     | عدد العناصر في عربة التسوق      |
| cart.total       | string  | المجموع الكلي للعربة بصيغة منسقة مثل: "١٠٠ ر.س" |
#}

{% set important_links = theme.settings.get('important_links') %}

<div class="sidebar-header">
  <header class="store-header">
    <div class="sidebar-container">
      <div class="flex flex-col items-start">
        {# شعار المتجر #}
        <a class="navbar-brand mb-4" href="{{ store.url }}">
          <img fetchpriority="high" width="100%" height="100%" loading="eager" src="{{ store.logo }}" alt="{{ store.name }} logo">
          {% if is_page('index') %}
            <h1 class="sr-only">{{ store.name }}</h1>
          {% else %}
            <h2 class="sr-only">{{ store.name }}</h2>
          {% endif %}
        </a>
        {# زر البحث الجديد في القائمة الجانبية #}
        <div class="header-search mb-4">
          <salla-search inline oval height="36"></salla-search>
        </div>
        {# قائمة المستخدم إذا كان مسجلاً #}
        {% if user.type=='user' %}
          <salla-user-menu avatar-only show-header></salla-user-menu>
        {% else %}
          {# زر تسجيل الدخول إذا لم يكن المستخدم مسجلاً #}
          <button class="header-btn mb-4" aria-label="user-icon" onclick="salla.event.dispatch('login::open')">
            <i class="header-btn__icon sicon-user-circle"></i>
          </button>
        {% endif %}
        {# ملخص عربة التسوق #}
        <salla-cart-summary class="mb-4">
          <i slot="icon" class="header-btn__icon icon sicon-shopping-bag"></i>
        </salla-cart-summary>
      </div>
    </div>
  </header>
</div>

{# مكون النطاقات إذا كان موجودًا #}
{% if store.scope %}
  <salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>
{% endif %}
