{#
| المتغير          | النوع   | الوصف                           |
|------------------|---------|---------------------------------|
| cart             | كائن    |                                 |
| cart.items_count | عدد صحيح|                                 |
| cart.total       | سلسلة   | المجموع بصيغة مثل: "١٠٠ ر.س"    |
#}
{% set important_links = theme.settings.get('important_links') %}
<header class="store-header">
  <div class="top-navbar">
    <button id="toggle-sidenav" class="header-btn" aria-label="فتح القائمة الجانبية">
      <i class="header-btn__icon sicon-menu"></i>
    </button>

    <a class="navbar-brand" href="{{ store.url }}">
      <img fetchpriority="high" src="{{ store.logo }}" alt="شعار {{ store.name }}" loading="lazy">
      {% if is_page('index') %}
        <h1 class="sr-only">{{ store.name }}</h1>
      {% else %}
        <h2 class="sr-only">{{ store.name }}</h2>
      {% endif %}
    </a>

    <div class="header-actions">
      <button id="search-button" class="header-btn" aria-label="بحث">
        <i class="header-btn__icon sicon-search"></i>
      </button>

      <button id="toggle-dark-mode" class="header-btn" aria-label="تفعيل الوضع الداكن">
        <i class="header-btn__icon sicon-moon"></i>
      </button>

      {% if user.type == 'user' %}
        <salla-user-menu avatar-only show-header></salla-user-menu>
      {% else %}
        <button class="header-btn" aria-label="رمز المستخدم" onclick="salla.event.dispatch('login::open')">
          <i class="header-btn__icon sicon-user-circle"></i>
        </button>
      {% endif %}

      <salla-cart-summary class="cart-summary">
        <i slot="icon" class="header-btn__icon icon sicon-shopping-bag"></i>
      </salla-cart-summary>
    </div>
  </div>

  <div id="search-popup" class="hidden search-popup">
    <div class="search-container">
      <button id="close-search" class="close-search" aria-label="إغلاق نافذة البحث">إغلاق</button>
      <salla-search inline oval height="36"></salla-search>
    </div>
  </div>

  <div id="sidenav" class="side-nav-container">
    <div class="inner">
      <img src="{{ store.logo }}" alt="شعار {{ store.name }}" class="sidenav-logo" loading="lazy">
      <p class="sidenav-title">القائمة</p>
      <custom-main-menu></custom-main-menu>
    </div>
  </div>
</header>

<script src="path/to/external/script.js"></script>
