{#
| المتغير          | النوع   | الوصف                           |
|------------------|---------|---------------------------------|
| cart             | كائن    |                                 |
| cart.items_count | عدد صحيح|                                 |
| cart.total       | سلسلة   | المجموع بصيغة مثل: "١٠٠ ر.س"    |
#}
{% set important_links = theme.settings.get('important_links') %}
<header class="store-header">
  <div class="top-navbar flex items-center justify-between bg-white p-6 shadow-md text-gray-800 sticky top-0 z-50">
    <a class="navbar-brand flex items-center mx-auto" href="{{ store.url }}">
      <img fetchpriority="high" width="120%" height="300%" loading="lazy" src="{{ store.logo }}" alt="شعار {{ store.name }}">
      {% if is_page('index') %}
        <h1 class="sr-only">{{ store.name }}</h1>
      {% else %}
        <h2 class="sr-only">{{ store.name }}</h2>
      {% endif %}
    </a>

    <div class="flex items-center space-x-4">
      <div>
        <salla-cart-summary class="ml-2 rtl:ml-[unset] rtl:mr-4">
          <i slot="icon" class="header-btn__icon icon sicon-shopping-bag"></i>
        </salla-cart-summary>
      </div>

      <div>
        {% if user.type=='user' %}
          <salla-user-menu avatar-only show-header></salla-user-menu>
        {% else %}
          <button class="header-btn" aria-label="رمز المستخدم" onclick="salla.event.dispatch('login::open')">
            <i class="header-btn__icon sicon-user-circle"></i>
          </button>
        {% endif %}
      </div>

      <div>
        <button id="toggle-dark-mode" class="header-btn" aria-label="تفعيل الوضع الداكن">
          <i class="header-btn__icon sicon-moon"></i>
        </button>
      </div>

      <div class="search-container">
        <button id="search-button" class="header-btn" aria-label="بحث">
          <i class="header-btn__icon sicon-search"></i>
        </button>
        <input id="search-input" type="text" class="hidden search-input" placeholder="ابحث هنا...">
      </div>
    </div>

    <button id="toggle-sidenav" class="header-btn mx-4" aria-label="فتح القائمة الجانبية" onclick="toggleSideNav()">
      <i class="header-btn__icon sicon-menu"></i>
    </button>
  </div>

  <div id="search-popup" class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
    <div class="bg-white p-4 rounded shadow-lg">
      <button id="close-search" class="mb-2 text-red-500">إغلاق</button>
      <salla-search inline oval height="36"></salla-search>
    </div>
  </div>

  <div id="sidenav" class="side-nav-container shadow-default bg-white fixed right-0 top-0 h-full text-gray-800 hidden">
    <div class="inner bg-inherit p-4">
      <img src="{{ store.logo }}" alt="شعار {{ store.name }}" class="mb-2">
      <p class="text-gray-800 mb-4 font-bold">القائمة</p>
      <div class="container">
        <div class="flex flex-col items-start justify-start relative">
          <custom-main-menu></custom-main-menu>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  // تحقق من تفضيلات النظام للوضع الداكن
  const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");

  // تحقق من حالة الوضع الداكن المخزنة في localStorage
  const currentTheme = localStorage.getItem("theme");

  if (currentTheme === "dark" || (currentTheme === null && prefersDarkScheme.matches)) {
    document.body.classList.add("dark-mode");
  } else {
    document.body.classList.remove("dark-mode");
  }

  function toggleDarkMode() {
    document.body.classList.toggle('dark-mode');
    let theme = "light";
    if (document.body.classList.contains("dark-mode")) {
      theme = "dark";
    }
    localStorage.setItem("theme", theme);
  }

  function toggleSideNav() {
    const sideNav = document.getElementById('sidenav');
    const toggleButton = document.getElementById('toggle-sidenav');
    sideNav.classList.toggle('hidden');
    if (sideNav.classList.contains('hidden')) {
      toggleButton.style.right = '0';
    } else {
      toggleButton.style.right = '200px'; // Adjust this value based on the width of the side nav
    }
  }

  document.getElementById('search-button').addEventListener('click', function() {
    var searchInput = document.getElementById('search-input');
    searchInput.classList.toggle('hidden');
    searchInput.focus();
  });

  document.getElementById('close-search').addEventListener('click', function() {
    document.getElementById('search-popup').classList.add('hidden');
  });
</script>
